* {
  box-sizing: border-box;
}
html {
  /* Quy doi 1rem=10px */
  font-size: 62.5%;
}
:root {
  --font-heading: "Sen", serif;
  --primary-color: #ffb900;
}
.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}
.btn {
  display: inline-block;
  font-weight: 600;
  font-size: 1.6rem;
  color: #ffffff;
  text-align: center;
  background: #171100;
  padding: 0 16px;
  line-height: 50px;
  min-width: 118px;
  border-radius: 999px;
}
.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
body {
  /* Khoi phuc co chu mac dinh trong phan body */
  font-size: 1.6rem;
  font-family: "Poppins", serif;
}
.heading-lv2 {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1.27;
  letter-spacing: -2%;
  color: #171100;
}
a {
  text-decoration: none;
}
.header {
  background: #fffcf4;
}
.header.fixed {
  z-index: 1;
  position: sticky;
  top: -28px;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  position: relative;
  font-size: 1.6rem;
  color: #5f5b53;
  padding: 8px 21px;
}
.nav a:hover,
.nav li.active a {
  /* font-weight: 600; */
  text-shadow: 1px 0px 0 currentColor;
  color: #171100;
}
.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}
.header .btn-sign-up {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}
/* Phan Hero */
.hero {
  padding: 56px 0 65px;
  background: #fffcf4;
  /* position: relative; */
}
.hero .body {
  display: flex;
}
.hero .media-block {
  position: relative;
  width: 48%;
}
.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}
.hero .hero-summary {
  padding: 24px;
  position: absolute;
  bottom: 48px;
  right: 0;
  width: 270;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.hero-summary .item {
  align-items: center;
  display: flex;
}
.hero-summary .item + .item {
  margin-top: 22px;
}
.hero-summary .icon {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background: #fff9e8;
}
.hero-summary .icon2 {
  background: #fcefff;
}
.hero-summary .icon3 {
  background: #ebeaff;
}
.hero-summary .info {
  margin-left: 16px;
}
.hero-summary .lable {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 26px;
}
.hero-summary .title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 167%;
}

/* Phan Hero right */

.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}
.hero .heading {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 1.17;
  letter-spacing: -2%;
  color: #171100;
}
.hero .desc {
  margin-top: 22px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}
.hero .cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
.hero-cta {
  width: 180px;
  line-height: 64px;
  background-color: var(--primary-color);
}
.hero .watch-video {
  display: flex;
  border: none;
  margin-left: 28px;
  background-color: transparent;
  align-items: center;
  cursor: pointer;
}
.hero .watch-video .icon {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px #00000012;
}
.hero .watch-video span {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  margin-left: 14px;
}
.hero .desc-recent {
  margin-top: 48px;
}
.hero .stats {
  margin-top: 8px;
}
.hero .stats strong {
  margin-right: 15px;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.23;
  color: #171100;
}
.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}
.popular {
  padding: 65px 0;
  margin-top: 125px;
}
.popular .popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}
.popular-top .controls {
  display: flex;
  gap: 18px;
}
.popular-top .control-btn {
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.popular-top .control-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

/* Course list */
.popular .course-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}
.popular .course-item {
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}
.popular .course-item:hover {
  box-shadow: 0px 18px 36px 0px #0000000d;
  border: 1px solid transparent;
}
.popular .course-item .thumb {
  width: 100%;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  height: 278px;
  object-fit: cover;
}
.popular .course-item .info {
  padding: 16px 22px 22px;
}
.popular .course-item .info .foot,
.popular .course-item .info .rating,
.popular .course-item .info .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular .course-item .title a {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}
.popular .rating .value {
  margin-left: 6px;
  font-size: 1.6rem;
  line-height: 1.75;
  color: var(--primary-color);
}
.popular .course-item .desc {
  margin-top: 6px;
  font-size: 1.4;
  line-height: 1.86;
  color: #5f5b53;
}
.popular .course-item .info .foot {
  margin-top: 12px;
}
.popular .course-item .price {
  font-weight: 600;
  font-size: 1.8;
  line-height: 1.67;
  color: #171100;
}
.popular .course-item .btn-book {
  border: none;
}
.popular .course-item .btn-book:hover {
  background: var(--primary-color);
}
